{% extends 'core/base.html' %} {% load static %} {% block title %}Contact{% endblock title %} {% block content %}

<div class="container mt-5">
	<h1 class="text-primary mb-5 border-bottom">CONTACT ME</h1>
	<div class="row text-white nb-5">
		<p class="text-center w-responsive mx-auto mb-5">
			Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you
			within a matter of hours to help you.
		</p>

		<div class="row w-100">
			<!--Grid column-->
			<div class="col-md-9 mb-md-0 mb-5">
				<form id="contact-form" name="contact-form" method="POST">
					<!--Grid row-->
					<div class="row">
						<!--Grid column-->
						<div class="col-md-6">
							<div class="md-form mb-0">
								<input type="text" id="name" name="name" class="form-control" />
								<label for="name" class="">Your name</label>
							</div>
						</div>
						<!--Grid column-->

						<!--Grid column-->
						<div class="col-md-6">
							<div class="md-form mb-0">
								<input type="text" id="email" name="email" class="form-control" />
								<label for="email" class="">Your email</label>
							</div>
						</div>
						<!--Grid column-->
					</div>
					<!--Grid row-->

					<!--Grid row-->
					<div class="row">
						<div class="col-md-12">
							<div class="md-form mb-0">
								<input type="text" id="subject" name="subject" class="form-control" />
								<label for="subject" class="">Subject</label>
							</div>
						</div>
					</div>
					<!--Grid row-->

					<!--Grid row-->
					<div class="row">
						<!--Grid column-->
						<div class="col-md-12">
							<div class="md-form">
								<textarea
									type="text"
									id="message"
									name="message"
									rows="2"
									class="form-control md-textarea"></textarea>
								<label for="message">Your message</label>
							</div>
						</div>
					</div>
					<!--Grid row-->
				</form>

				<div class="text-center text-md-left">
					<input type="submit" value="Send" class="btn bg-cprimary">
				</div>
				<div class="status"></div>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-md-3 text-center">
				<ul class="list-unstyled mb-0">
					<li>
						<i class="fas fa-map-marker-alt fa-2x i-color"></i>
						<p>Bengaluru, Karnataka, India</p>
					</li>

					<li>
						<i class="fas fa-phone mt-4 fa-2x i-color"></i>
						<p>+91-7008982539</p>
					</li>

					<li>
						<i class="fas fa-envelope mt-4 fa-2x i-color"></i>
						<p>tusharkumarpanda01@gmail.com</p>
					</li>
				</ul>
			</div>
			<!--Grid column-->
		</div>
	</div>
</div>
<div class="text-center">
    <a href="https://github.com/tusharkumarpanda" target="_blank">
        <i class="fa-brands fa-github fa-shake i-color mr-3 fa-2x"></i>
    </a>
    <a href="https://linkedin.com/in/tusharrkumarr" target="_blank">
        <i class="fa-brands fa-linkedin fa-shake i-color mr-3 fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/https_tushar__/" target="_blank">
        <i class="fa-brands fa-instagram fa-shake i-color mr-3 fa-2x"></i>
    </a>
	<a href="https://www.youtube.com" target="_blank">
		<i class="fa-brands fa-youtube fa-shake i-color mr-3 fa-2x"></i>
	</a>
	
</div>
{% endblock content %}
